*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: valorax;
  src: url("Valorax-lg25V.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* background: linear-gradient(45deg,#190153, 20%, #00001b); */
  background-image: url(contact-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.425);
}

/* NAVIGATION BAR */
.navbar {
  font-family: valorax;
  text-shadow: 1px 1px 5px #123636, 0 0 0.25em #0e8782;
}

.nav-link {
  font-size: clamp(0.2rem, 5vw, 1.2rem);
}

/* Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
  color: rgb(255, 255, 255);
}

/* MDB */
/* Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
  /* color: #4f4f4f; */
  color: #ffffff;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
  background-color: #0a4040;
}

/* Transition after scrolling */
.navbar-after-scroll {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Navbar on mobile */
@media (max-width: 991.98px) {
  #main-navbar {
    background-color: #0a4040;
  }

  .nav-link,
  .navbar-toggler-icon,
  #navbar-btn {
    color: #ffffff !important;
  }
}

.nav-link:hover {
  text-shadow: 1px 1px 7px #0e8782, 0 0 0.3em #0e8782, 0 0 0.2em #0e8782;
  /* text-shadow: 1px 1px 5px #170247, 0 0 0.5em #986EF8, 0 0 0.5em #8336BA; */
}

/* MAIN */

main {
  width: 100%;
  overflow-x: hidden;
}

/* CONTACT HEADING */
.contactHead {
  margin-top: 20vh;
  font-size: 4vw;
}

.contactHead h1 {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 8vw, 4.5rem);
  letter-spacing: 3px;
}

/* FACULTY HEADING */

.facCoorHead {
  font-size: 3vw;
  margin-top: 2vh;
}

.facCoorHead h2, .evCoorHead h2, .eventHead h2{
  font-size: clamp(0.4rem, 5vw, 3rem);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.facCoorHead,
.contactHead, .evCoorHead, .eventHead {
  font-family: valorax;
  color: white;
  text-shadow: 1px 1px 5px #123636, 0 0 0.1em #0e8782, 0 0 0.1em #09f8f0;
}

.evCoorHead,
.eventHead {
  font-family: valorax;
  color: white;
  font-size: 3vw;
}

/* CARDS */
#faculty-section, #core-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#core-section {
  gap: 8px;
}

#faculty-card ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  list-style-type: none;
  padding-left: 0;
}

.card {
  background: linear-gradient(60deg, #09f8f0 30%, #0e8782 70%, #09f8f0 100%);
  color: #0a4040;
  font-family: 'VT323', monospace;
}

.card-body h5 {
  font-size: clamp(0.3rem, 5vw, 1.5rem);
}

.card-body h6 {
  font-size: clamp(0.3rem, 4vw, 1.3rem);
}

.card-body ul li{
  font-size: clamp(0.2rem, 3vw, 1.2rem);
}

.card-body i {
  font-size: clamp(0.15rem, 2vw, 1rem);
}

/* EVENT HEADS (ACCORDION) SECTION */

.accordionContainer {
  padding: 0 20vw 5vh 20vw;
}

@media only screen and (max-width: 600px) {
  .contactHead {
    font-size: 10vw;
  }
  .evCoorHead,
  .eventHead,
  .facCoorHead {
    font-size: 7vw;
    text-align: center;
  }
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
}

.accordion-item {
  color: lightblue;
  font-family: 'VT323', monospace;
}

.accordion-item .accordion-button {
  font-size: clamp(0.4rem, 5vw, 1.4rem);
}

.accordion-button {
  color: white;
}

.accordion-button:hover {
  color: white;
  text-shadow: 1px 1px 7px #0e8782, 0 0 0.5em #0e8782, 0 0 0.5em #0e8782;   
}

.accordion-button:not(.collapsed) {
  color: white;
  text-shadow: 1px 1px 7px #0e8782, 0 0 0.3em #0e8782, 0 0 0.2em #0e8782;   
  /* font-weight: bold */
}

.accordion-body {
  font-size: clamp(0.2rem, 4vw, 1.2rem);
  color:#09f8f0;
  text-shadow: 1px 1px 7px #0a4040;
}

/* CONTACT SECTION */
#contact-section {
  background: #0a4040a8 !important;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  gap: 5px;
  overflow-x: hidden;
  width: 100%;
  padding: 1rem 2rem;
}

#contact-section div {
  font-family: "VT323", monospace !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-section ul {
  list-style-type: none;
  padding-left: 0;
}

#logo-box #syntaxia-logo {
  width: clamp(5rem, 25vw, 18rem);
  height: auto;
  object-fit: contain;
}

#nav-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#nav-box .nav-link {
  font-size: clamp(0.4rem, 5vw, 1.4rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #123636, 0 0 0.2em #0e8782;
}
#nav-box .nav-link:hover {
  text-shadow: 1px 1px 7px #0e8782, 0 0 0.3em #0e8782, 0 0 0.2em #0e8782;
}

#contact-box ul {
  font-family: "VT323", monospace !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#contact-box ul li {
  font-size: clamp(0.2rem, 5vw, 1.2rem);
  color: white;
  text-shadow: 1px 1px 5px #123636, 0 0 0.2em #0e8782;
}

#contact-box ul i {
  font-size: clamp(0.1rem, 5vw, 1rem);
  padding-right: 1rem;
  text-shadow: 1px 1px 5px #123636, 0 0 0.3em #ffffff;
}

#contact-box ul .fa-envelope,
#contact-box ul .fa-phone {
  padding-right: 0.8rem;
}

#contact-box ul a {
  text-decoration: none;
  color: white;
}

#contact-box ul a:hover {
  text-shadow: 1px 0.1px 5px #ffffff, 0 0 0.2em #0e8782;
}

#contact-box ul i:hover {
  text-shadow: 1px 0.1px 15px #010118, 1px 0.1px 20px #ffffff, 0 0 0.3em #010118;
}

#copyright-section {
  font-size: clamp(0.2rem, 5vw, 1rem);
  margin-bottom: 0;
}

#copyright-section p {
  margin-bottom: 0;
  letter-spacing: 1px;
}

#copyright-section a {
  text-shadow: 1px 0.1px 5px #123636;
}
#copyright-section a:hover {
  text-shadow: 1px 0.1px 15px #123636, 1px 0.1px 5px #ffffff;
}

#copyright-section .special {
  color: #09f8f0 !important;
  text-shadow: 1px 0.1px 5px #123636, 1px 0.1px 3px #0e8782;
  font-size: clamp(0.25rem, 5vw, 1.1rem);
}

#copyright-section .special:hover {
  text-shadow: 1px 0.1px 1px #123636, 1px 0.1px 1em #0e8782, 0 0 0.3em #09f8f0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-item {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .accordion {
    max-width: 20vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav-item {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
