*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: valorax;
  src: url("Valorax-lg25V.otf");
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  
  background-image: url("bg-img.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.425);
}

/* NAVIGATION BAR */
.navbar {
  font-family: valorax;
  text-shadow: 1px 1px 5px #170247, 0 0 0.25em #986ef8;
}

#technofite-logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-link {
  font-size: clamp(0.2rem, 5vw, 1.2rem);
}

/* Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
  color: rgb(255, 255, 255);
}

/* MDB */
/* Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
  /* color: #4f4f4f; */
  color: #ffffff;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
  background-color: #010118;
}

/* Transition after scrolling */
.navbar-after-scroll {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Transition to the initial state */
.navbar-before-scroll {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Navbar on mobile */
@media (max-width: 991.98px) {
  #main-navbar {
    background-color: #010118;
  }

  .nav-link,
  .navbar-toggler-icon,
  #navbar-btn {
    color: #ffffff !important;
  }
}

.nav-link:hover {
  text-shadow: 1px 1px 7px #986ef8, 0 0 0.3em #986ef8, 0 0 0.2em #986ef8;
  /* text-shadow: 1px 1px 5px #170247, 0 0 0.5em #986EF8, 0 0 0.5em #8336BA; */
}

/* HOME SECTION */
#home-section {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin: 0;
  font-family: valorax;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #170247, 0 0 0.5em #986ef8, 0 0 0.5em #8336ba;
  /* text-shadow: 1px 1px 5px grey, 0 0 0.3em white, 0 0 0.2em grey; */
  overflow-x: hidden;
}

#home-section h1 {
  font-size: clamp(1rem, 10vw, 7rem);
  color: white;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

#home-section h2 {
  font-size: clamp(0.5rem, 5vw, 3rem);
  color: white;
}


/* EVENT SECTION */


/* REGISTRATION SECTION */
#registration-section h2{
  font-family: valorax;
  text-transform: uppercase;
  color: white;
  font-size: clamp(0.7rem, 5vw, 3rem);
  text-shadow: 1px 1px 5px #170247, 0 0 0.5em #986ef8, 0 0 0.3em #8336ba;
  padding: 1rem 0 1.5rem 0;
}

#registration-section #cards-box {
  font-family: "VT323", monospace; 
}

#registration-section .card {
  background: #010118;
  box-shadow: 1px 0.1px 5px #010118, 1px 0.1px 15px #986ef8, 1px 0.1px 10px #010118;
  color: white !important;
}

#registration-section .card-header {
  border-bottom: transparent;
}

#registration-section .card-header h5 {
  font-family: valorax;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #010118, 0 0 0.2em #986ef8;
  white-space: nowrap;
}

#registration-section .card-body ul {
  border-radius: 5px;
}

#registration-section .card-body li {
  background: #010118 !important;
  color: white !important;
  font-size: clamp(0.2rem, 5vw, 1.3rem);
  text-shadow: 1px 1px 3px #010118, 0 0 0.1em #986ef8;
  letter-spacing: 1px;
  color:#170247
}

#registration-section .card-footer {
  border-top: transparent;
}

#registration-section .card-footer .reg-btn {
  background: #986ef8;
  box-shadow: 0.5px 0.1px 5px white !important;
  font-family: valorax;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

#registration-section .card-footer .reg-btn:hover {
  background: rgb(255, 255, 255);
  box-shadow: 1px 0.1px 15px #986ef8;
  color: #010118;
}

#guidelines-section {
  font-family: valorax; 
  padding-bottom: 1.5rem;
}

#guidelines-section #guide-btn {
  background: white;
  box-shadow: 1px 0.1px 15px #986ef8, 1px 0.1px 10px #010118;
  color: #010118;
  text-transform: lowercase;
  font-size: 2vw;
}

#guidelines-section #guide-btn:hover {
  background:#010118;
  color: white;
  box-shadow: 1px 0.1px 5px #010118, 1px 0.1px 15px #986ef8, 0 0 1px #010118;
}

#guidelinesModal .modal-content {
  /* background: radial-gradient(#ffffff, #8336ba, #ffffff); */
  /* color: #010118; */
  /* text-shadow: 1px 1px 0.2em #986ef8; */
  background: #010118;
  color: white;
  box-shadow: 1px 0.1px 5px #010118, 1px 0.1px 15px #986ef8, 1px 0.1px 10px #010118;

}

#guidelinesModal .modal-header {
  border-bottom: transparent;
  margin: 0 auto;
  padding-bottom: 0;
} 

#guidelinesModal .modal-header h5{
  font-family: valorax;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #010118, 0 0 0.2em #986ef8;
  white-space: nowrap;
  text-align: center;
}

#guidelinesModal .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

#guidelinesModal .modal-body ol li {
  font-size: clamp(0.2rem, 5vw, 1.32rem);
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
  letter-spacing: 1.5px;
  font-family: "VT323", monospace;
}

#guidelinesModal .modal-footer {
  border-top: transparent;
  padding-top: 0;
  padding-bottom: 1rem;
} 

#guidelinesModal .modal-footer #guide-close-btn{
  font-family: valorax;
  text-transform: lowercase;
  margin: 0 auto;
  color: #010118;
  text-shadow: 1px 0.1px 5px white, 1px 0.1px 1.5px #010118;
  font-size: clamp(0.1rem, 5vw, 0.8rem);
  letter-spacing: 1px;
}

#guidelinesModal #guide-close-btn:hover{
  background:#986ef8;
  color: white;
  box-shadow: 1px 0.1px 7px white, 1px 0.1px 5px #010118 !important;
}

/* SPONSORS SECTION */
#sponsors-section {
  box-shadow: 1px 0.1px 15px white;
  height: 10vh;
  background-color:#010118;
  color:#ffffff;
  font-family: valorax;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* CONTACT SECTION */
#contact-section {
  background: #010118da !important;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  gap: 5px;
  overflow-x: hidden;
  width: 100%;
  padding: 1rem 2rem;
}

#contact-section div {
  font-family: "VT323", monospace !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-section ul {
  list-style-type: none;
  padding-left: 0;
}

#logo-box #syntaxia-logo {
  width: clamp(5rem, 25vw, 18rem);
  height: auto;
  object-fit: contain;
}

/* #contact-logo-box #sju-box {
  justify-content: center;
  margin-top: -1rem;
  padding: 1rem;
} */

/* #contact-section #sju-logo {
  width: clamp(1rem, 12vw, 6rem);
  height: auto;
  object-fit: contain;
} */

#nav-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#nav-box .nav-link {
  font-size: clamp(0.4rem, 5vw, 1.4rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
}
#nav-box .nav-link:hover {
  text-shadow: 1px 1px 7px #986ef8, 0 0 0.3em #986ef8, 0 0 0.2em #986ef8;
}

#contact-box ul {
  font-family: "VT323", monospace !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

#contact-box ul li {
  font-size: clamp(0.2rem, 5vw, 1.2rem);
  color: white;
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
}

#contact-box ul i {
  font-size: clamp(0.1rem, 5vw, 1rem); 
  padding-right: 1rem; 
  text-shadow: 1px 1px 5px #010118, 0 0 0.3em #ffffff;

}

#contact-box ul .fa-envelope, #contact-box ul .fa-phone {
  padding-right: 0.8rem;
}

#contact-box ul a {
  text-decoration: none;
  color: white;
}

#contact-box ul a:hover {
  text-shadow: 1px 0.1px 5px #ffffff, 0 0 0.2em #986ef8;
}

#contact-box ul i:hover {
  text-shadow: 1px 0.1px 15px #010118, 1px 0.1px 20px #ffffff, 0 0 0.3em #010118;
}

#copyright-section {
  font-size: clamp(0.2rem, 5vw, 1rem);
  margin-bottom: 0;
}

#copyright-section p {
  margin-bottom: 0;
  letter-spacing: 1px;
}

#copyright-section a {
  text-shadow: 1px 0.1px 5px #010118
}
#copyright-section a:hover {
  text-shadow: 1px 0.1px 15px #010118, 1px 0.1px 5px #ffffff;
}

#copyright-section .special {
  color: #C700FA !important;
  text-shadow: 1px 0.1px 5px #010118, 1px 0.1px 3px #7000FF;
  font-size: clamp(0.25rem, 5vw, 1.1rem);
}

#copyright-section .special:hover {
  text-shadow: 1px 0.1px 1px #010118, 1px 0.1px 1em #C700FA, 0 0 0.3em #7000FF;
}

/* MEDIA QUERIES - RESPONSIVENESS */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  
  /*Guidelines Button*/
  #guidelines-section #guide-btn {
    background: white;
    box-shadow: 1px 0.1px 15px #986ef8, 1px 0.1px 10px #010118;
    color: #010118;
    text-transform: lowercase;
    font-size: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .reg-heading{
    margin-top: 10vh;
      margin-bottom: 10vh;
  }

  #registration-section h2{
    font-size: 8vw;
  }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (min-width: 600px) {...} */
 
 /* Medium devices (landscape tablets, 768px and up) */
 /* @media only screen and (min-width: 768px) {...} */
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .nav-item{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #guidelines-section {
    margin-top: 13vh;
    margin-bottom: 13vh;
  }

  
.reg-heading{
  margin-top: 18vh;
    margin-bottom: 10vh;
}
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .nav-item{
    margin-left: 3vw;
    margin-right: 3vw;
  }
 } 