* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --light-blue: lightblue;
    --color-blue: blue;
    --color-dark-grey: #222831;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
/*Timeline section*/
img {
    width: 100%;
}

.timeline-section {
    width: 100%;
    overflow: hidden;  
}

.timeline-section ul {
    /* background: black; */
    padding: 5rem 0 1rem 0;
}

/*list styles*/
.timeline-section ul li {
    list-style: none;
    position: relative;
    width: 1.5px;
    margin: 0 auto; 
    padding-top: 5rem; 
    background: white;
}

/*Nodes on line*/
.timeline-section ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 1px 0.1px 10px #986ef8;
    border: 0.1px solid #01011860;
}

/* Content box */
.timeline-section ul li div {
    width: 25rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 0;
    padding: 1.5rem;
    /* background: rgba(255,255,255,.2); */
    /* -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px); */
    /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);    */
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

/* Pushes the divs at odd number position to the right */
.timeline-section ul li:nth-child(odd) div {
    left: 45px;  
}
  
 
/* this style pushes the divs at odd number position to the left */
.timeline-section ul li:nth-child(even) div {
    left: -439px;
}

.event-heading {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 7px;
    color: white;
}

.event-tagline{
    color:rgb(116, 114, 114);
}

.timeline-section ul li::after {
    transition: all 1.1s ease-in-out;
}  

.timeline-section ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 1.1s ease-in-out;
}
  
.timeline-section ul li:nth-child(odd) div {
    transform: translateX(20rem);
}

.timeline-section ul li:nth-child(even) div {
    transform: translateX(-20rem);
}

.timeline-section ul li.slide-in div {
    transform: none;
    visibility: visible;
    opacity: 1;
    color: grey;
    /* background-color: black; */
    border: none;
}

.timeline-section h2 {
  font-family: valorax;
  text-transform: uppercase;
  color: white;
  font-size: clamp(0.7rem, 5vw, 3rem);
  text-shadow: 1px 1px 5px #170247, 0 0 0.5em #986ef8, 0 0 0.3em #8336ba;
  margin: 0;
  text-align: center;
  letter-spacing: 20px;
}

.timeline-section ul li div {
  font-family: valorax !important;
  /* font-size: 2rem !important; */
}

.timeline-section .event-heading {
  text-shadow: 1px 1px 5px #170247, 0 0 0.2em #986ef8, 0 0 0.2em #8336ba;
  font-size: clamp(0.5rem, 5vw, 1.7rem);
  letter-spacing: 2px;
  /* white-space: nowrap; */
}

.timeline-section .event-heading:hover {
  color:#010118;
  text-shadow: 1px 0.1px 10px #986ef8; 
}

.timeline-section .event-tagline {
  font-family: "VT323", monospace;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.842) !important;
  text-shadow: 1px 1px 5px #170247, 0 0 0.2em #986ef8, 0 0 0.2em #170247;
}

.timeline-section #werewolvesOneLine {
  font-size: clamp(0.5rem, 5vw, 1.4rem);
}

/* Tablet Width */
@media screen and (max-width: 900px) {
    .timeline-section ul li div {
      width: 25rem;
   }

.timeline-section ul li:nth-child(even) div {
      left: -289px;
    }
}

/* Mobile width */
@media screen and (max-width: 600px) {
    .timeline-section ul li {
      margin-left: 2rem;
    }

    .timeline-section ul li div {
      width: calc(100vw - 91px);
    }
  
    .timeline-section ul li:nth-child(even) div {
      left: 45px;
    }

    .timeline-section ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--light-blue) transparent transparent;
    }
}

/* MODALS */
.modal-content {
  background: #010118;
  color: white;
  box-shadow: 1px 0.1px 5px #010118, 1px 0.1px 15px #986ef8, 1px 0.1px 10px #010118;
}

.modal-header {
  border-bottom: transparent;
  margin: 0 auto;
  padding-bottom: 0;
}

.modal-header h5 {
  font-family: valorax;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px #986ef8, 0 0 1px #010118;
  white-space: nowrap;
  text-align: center;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-body h6 {
  font-size: clamp(0.2rem, 5vw, 1.5rem);
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
  letter-spacing: 1.5px;
  font-family: "VT323", monospace;
  padding-top: 1rem;
  /* text-align: center; */
  text-transform: uppercase;
}

.modal-body p {
  font-size: clamp(0.2rem, 5vw, 1.3rem);
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
  letter-spacing: 1.5px;
  font-family: "VT323", monospace;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-body ol li {
  font-size: clamp(0.2rem, 5vw, 1.3rem);
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
  letter-spacing: 1.5px;
  font-family: "VT323", monospace;
  padding-bottom: 0;
}

.modal-body .event-heads {
  list-style-type: none;
  padding-left: 0;
  /* text-align: center; */
  font-size: clamp(0.2rem, 5vw, 1.4rem);
  text-shadow: 1px 1px 5px #010118, 0 0 0.2em #986ef8;
  letter-spacing: 1.5px;
  font-family: "VT323", monospace;
}

.modal-footer {
  border-top: transparent;
  padding-top: 0;
} 

#events-section .modal-footer .btn {
  font-family: valorax;
  text-transform: lowercase;
  margin: 0 auto;
  color: #010118;
  text-shadow: 1px 0.1px 5px white, 1px 0.1px 1.5px #010118;
  font-size: clamp(0.1rem, 5vw, 0.8rem);
  letter-spacing: 1px;  
}

#events-section .modal-footer .btn:hover {
  background:#986ef8;
  color: #ffffff;
  box-shadow: 1px 0.1px 7px white !important;
}